<!DOCTYPE html>
<html style="font-size: 16px;" lang="it"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Hello!">
    <meta name="description" content="">
    <title>Valerio Pastore</title>
    <link rel="stylesheet" href="static/nicepage.css" media="screen">
<link rel="stylesheet" href="static/Valerio-Pastore.css" media="screen">
    <script class="u-script" type="text/javascript" src="static/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="static/nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    <script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": ""
}</script>
    <meta name="theme-color" content="#f06e49">
    <meta property="og:title" content="Valerio Pastore">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-home-page-title="Valerio Pastore" data-path-to-root="./" data-include-products="false" class="u-body u-image u-xl-mode" data-lang="it" style="background-position: 50% 50%"><header class="u-clearfix u-custom-color-1 u-header u-header" id="sec-48dd"><div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-custom-color-3 u-text-1">Valerio Pastore</h1>
      </div></header>
    <section class="u-align-center u-clearfix u-custom-color-1 u-section-1" id="sec-eb8a" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-border-2 u-border-custom-color-3 u-container-style u-grey-15 u-list-item u-radius-20 u-repeater-item u-shape-round u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-direction="Right" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-icon u-text-black u-icon-1" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="500"><img src="static/images/2838912-d6e83d80.png" alt=""></span>
                <p class="u-text u-text-body-color u-text-1" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="500">Bologna, Italy</p>
              </div>
            </div>
            <div class="u-align-left u-border-2 u-border-custom-color-3 u-container-style u-grey-15 u-list-item u-radius-20 u-repeater-item u-shape-round u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-direction="Right" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-text-black u-icon-2" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="500"><img src="static/images/953810-ac3d247b.png" alt=""></span>
                <p class="u-text u-text-body-color u-text-2" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="500">
                  <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1" href="mailto:valeriopastore20@gmail.com"> valeriopastore20@gmail.com<br>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="u-align-center u-container-style u-expanded-width-sm u-expanded-width-xs u-grey-10 u-group u-radius-20 u-shape-round u-group-1" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="500">
          <div class="u-container-layout u-container-layout-3">
            <img class="u-image u-image-circle u-preserve-proportions u-image-1" src="static/images/IMG_20220813_194635_1822.jpg" alt="" data-image-width="894" data-image-height="1105" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="500">
            <h1 class="u-align-center u-text u-text-custom-color-3 u-text-3" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="750">
              <span class="u-text-black">Ciao!</span>
              <br>
              <span style="font-size: 3.75rem;">Qualcosa su di me...</span>
              <br>
            </h1>
            <p class="u-align-center u-text u-text-4"> Ingegnere informatico appassionato di programmazione. Durante la mia carriera mi sono concentrato sullo sviluppo di software per l’acquisizione e gestione dati. Ho inoltre acquisito conoscenze in intelligenza artificiale e sistemi Linux.
Mi reputo una persona analitica, metodica, curiosa e volenterosa di apprendere.
Nel tempo libero mi piace fare attività all'aria aperta, andare in bici e praticare sport.&nbsp;</p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-custom-color-1 u-section-2" id="carousel_c40e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-text-custom-color-3 u-text-1" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="250">Istruzione</h1>
        <div class="u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="250">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <div alt="" class="u-border-4 u-border-white u-image u-image-circle u-image-1" data-image-width="800" data-image-height="530" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="500"></div>
                <p class="u-text u-text-2">
                  <span style="font-weight: 400;"></span>Università degli Studi del Sannio, Laurea in Ingegneria dell'informazione<br>
                  <span style="font-weight: 400;">Titolo della tesi: Sviluppo di benchmarks per la valutazione di prestazioni di applicazioni cloud | <br>Votazione finale: 100/110 <br>Data di conseguimento: 23/03/2017&nbsp;
                  </span>
                </p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="250">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <div alt="" class="u-border-4 u-border-white u-image u-image-circle u-image-2" data-image-width="1920" data-image-height="1282" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="500"></div>
                <p class="u-text u-text-3">Alma Mater Studiorum - Università di Bologna, Laurea Magistrale in Ingegneria informatica <br>
                  <span style="font-weight: 400;">Titolo della tesi: Progettazione e sviluppo di un sistema di BI <br>nell'ambito dell'industria manifatturiera | <br>Votazione finale: 108/110 <br>Data di conseguimento: 22/07/2020
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-custom-color-1 u-section-3" id="carousel_b47d">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-text-custom-color-3 u-text-1" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="250">Esperienze lavorative</h1>
        <p class="u-align-center u-text u-text-custom-color-3 u-text-2" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="0">
          <span style="font-weight: 700; font-size: 1.25rem;"> Istituto Nazionale di Astrofisica - OAS</span>
          <br>
          <span class="u-text-white" style="font-size: 1.25rem;"> Bologna, Italy</span>
        </p>
        <p class="u-align-center u-text u-text-custom-color-3 u-text-3" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="0">Research associate<br>
          <span class="u-text-white">
            <span style="font-weight: 400;"> 2021 - today</span>
          </span>
          <br>
        </p>
        <ul class="u-align-left u-text u-text-4" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="0">
          <li><b>Progettazione, sviluppo e test del software con riferimento ai sistemi di acquisizione dati in ambito astrofisico.</b>
          <li><b>Sviluppo di sistemi di controllo di Telescopi.</b>
          </li>
          <li><b>Supporto sugli acquisti informatici per la pubblica amministrazione.</b>
          </li>
        </ul>
        <p class="u-align-center u-text u-text-custom-color-3 u-text-5" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="0"><b>Business analytics specialist</b>
          <br>
          <span class="u-text-white"><b>
              <span style="font-weight: 400;">Feb 2020 - Lug 2020</span></b>
          </span>
          <span style="font-weight: 400;"></span>
          <br>
        </p>
        <ul class="u-align-left u-text u-text-6" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="0">
          <li><b>Sviluppo di sistemi di Business intelligence.</b></li>
          <li><b>Utilizzo di programmi di ETL e Data warehousing.<br></b></li>
          <li><b>Tirocinio per tesi Magistrale in azienda.</b></li>
        </ul>
        <p class="u-align-center u-text u-text-custom-color-3 u-text-7" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="0">
          <span style="font-weight: 700; font-size: 1.25rem;">ICONSULTING</span>
          <br>
          <span class="u-text-white" style="font-size: 1.25rem;"> Casalecchio di Reno Bologna, Italy</span>
        </p>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-custom-color-1 u-section-4" id="carousel_3d4e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-text-custom-color-3 u-text-1" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="250">Pubblicazioni (primo autore)</h1>
        <h2 class="u-align-left u-subtitle u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="0">Valerio Pastore, Vito Conforti, … et al. for the ASTRI Pro​ject:<br><b>Array data acquisition system interface for online distribution of acquired data in the ASTRI Mini-Array project</b><b>
            <br></b>SPIE Digital Library - Software and Cyberinfrastructure for Astronomy - 2022 -&nbsp;<a href="https://www.google.com/url?q=https://www.spiedigitallibrary.org/conference-proceedings-of-spie/12189/1218924/Array-data-acquisition-system-interface-for-online-distribution-of-acquired/10.1117/12.2629922.short?SSO%3D1%23_%3D_&amp;sa=D&amp;source=editors&amp;ust=1714393862789950&amp;usg=AOvVaw0FYQqZNQ2MDSNC7WuQQyWy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" target="_blank">Link to the​ article</a>
          <br>
          <br>Valerio Pastore, Vito Conforti,  … et<br>al. Istituto Nazionale di Astrofisica, Bologna, Italy:<br>
          <span style="font-weight: 700;">The BIAS (Back-end Independent Acquisition Subsystem) to upgrade the CIWS framework.</span>
          <br>Astronomical Data Analysis Software and Systems (ADASS) XXXI - 2021 -&nbsp;<a href="https://www.adass2021.ac.za/uploads/X9-001/upload/X9-001_latest.pdf" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2" target="_blank">Link to the article</a>
        </h2>
      </div>
    </section>
    <section class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-custom-color-1 u-section-5" data-image-width="2000" data-image-height="1333" id="sec-3e9d">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-sheet-1">
        <div class="u-container-style u-group u-radius u-shape-round u-white u-group-1" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="0">
          <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-middle-xs u-container-layout-1">
            <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xs u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
              <div class="u-gallery-inner u-gallery-inner-1">
                <div class="u-effect-fade u-gallery-item">
                  <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                    <img class="u-back-image u-expanded" src="static/images/41b3beb5a8f5794836fb8b910b4ba4bbb767e317d70910af5238df8d427a2595a8b12e2744ef54bac3cf6d0a2586d504c75b36e8f29bf0c44156f9_1280.jpg">
                  </div>
                  <div class="u-over-slide u-shading u-over-slide-1"></div>
                </div>
                <div class="u-effect-fade u-gallery-item">
                  <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                    <img class="u-back-image u-expanded" src="static/images/c1c7375f1aaa8026f6da930bbc95c63b58250be9d5e7617140570f336544aa5bb5f851e1e88b905f0cdae95758457fd3592f1b6e01e2f1f9a08989_1280.jpg">
                  </div>
                  <div class="u-over-slide u-shading u-over-slide-2"></div>
                </div>
                <div class="u-effect-fade u-gallery-item">
                  <div class="u-back-slide" data-image-width="1154" data-image-height="1280">
                    <img class="u-back-image u-expanded" src="static/images/9c6bbe7ceeb24ce3099430b03e01d674c6101c09ba938c9e6c09127cbee62f16f649f9564c03ba4599778dd30b0915c8bd299b9ac6df6b8474bfd8_1280.jpg">
                  </div>
                  <div class="u-over-slide u-shading u-over-slide-3"></div>
                </div>
                <div class="u-effect-fade u-gallery-item">
                  <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                    <img class="u-back-image u-expanded" src="static/images/c485a627e90f6dda9ede1bc5493d306d87c955a245752f8625d4492460d9280a92eab09726f916c5788b9d339bcab5abd44c0afd2415c4d9bfca38_1280.jpg">
                  </div>
                  <div class="u-over-slide u-shading u-over-slide-4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3 class="u-align-left u-text u-text-custom-color-3 u-text-1">I miei hobbies</h3>
        <ul class="u-align-left u-text u-text-default u-text-2">
          <li>Scacchi</li>
          <li>Palestra</li>
          <li>Yoga</li>
          <li>Leggere</li>
        </ul>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-custom-color-1 u-section-6" id="carousel_468a">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-custom-color-3 u-text-1" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="250">Scarica il mio CV completo</h2>
        <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center-sm u-align-center-xs u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="250">
              <div class="u-container-layout u-similar-container u-valign-bottom-xs u-container-layout-1">
                <div alt="" class="u-border-1 u-border-custom-color-3 u-image u-image-circle u-image-1" data-image-width="225" data-image-height="225" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="500"></div>
                <p class="u-text u-text-2">
                  <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-file-link u-hover-none u-none u-text-palette-1-base u-btn-1" href="files/CV2024.pdf">Versione normale</a>
                </p>
              </div>
            </div>
            <div class="u-align-center-sm u-align-center-xs u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="250">
              <div class="u-container-layout u-similar-container u-valign-bottom-xs u-container-layout-2">
                <div alt="" class="u-border-1 u-border-custom-color-3 u-image u-image-circle u-image-2" data-image-width="225" data-image-height="225" data-animation-name="customAnimationIn" data-animation-duration="500" data-animation-delay="500"></div>
                <p class="u-text u-text-3">
                  <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-file-link u-hover-none u-none u-text-palette-1-base u-btn-2" href="files/CV_Printable.pdf">Versione stampabile (sfondo bianco)</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
    <footer class="u-align-center u-clearfix u-custom-color-2 u-footer u-footer" id="sec-68bd"><div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-sheet-1">
        <p class="u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-1">Hosted with&nbsp;<span class="u-icon u-icon-1"><svg class="u-svg-content" viewBox="0 0 50 50" x="0px" y="0px" style="width: 1em; height: 1em;"><path style="fill:currentColor;" d="M24.85,10.126c2.018-4.783,6.628-8.125,11.99-8.125c7.223,0,12.425,6.179,13.079,13.543
  c0,0,0.353,1.828-0.424,5.119c-1.058,4.482-3.545,8.464-6.898,11.503L24.85,48L7.402,32.165c-3.353-3.038-5.84-7.021-6.898-11.503
  c-0.777-3.291-0.424-5.119-0.424-5.119C0.734,8.179,5.936,2,13.159,2C18.522,2,22.832,5.343,24.85,10.126z"></path></svg></span>&nbsp;by my Raspberri Pi and Docker (<a href="https://github.com/valeriopastore20/website">Github</a>) <br>This site was created with <a href="https://nicepage.com/">Nicepage</a>
        </p>
        
      </div></footer>
</body></html>
